.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

:root {
  --main-font:'Roboto', sans-serif;
  --secend-font:'Raleway', sans-serif;
  --secend-color: #2196F3;
  --first-color: #757575;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #fff;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(100%);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  justify-items: center;
}

.form__head {
  margin-top: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.form__label {
  font-size: 12px;
  color: #757575;
  margin-top: 10px;
}

.form__btn {
  background-color: var(--secend-color);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  margin-left: 164px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 45px;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover, .form__input:focus {
  border: 1px solid var(--secend-color);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.form__label-item {
  position: relative;
  display: block;
  fill: #212121;
}

.form__label-item:hover, .form__label-item:focus {
  fill: var(--secend-color);
}

.form__input-image {
  position: absolute;
  top: 11px;
  left: 15px;
  width: 18px;
  height: 18px;
}

.form .form__label {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
}

.coment {
  resize: none;
  padding: 12px 16px;
  font-size: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.coment:hover, .coment:focus {
  border: 1px solid var(--secend-color);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.policy {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.714em;
  margin-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  color: #757575;
}

.policy__link {
  padding-left: 2px;
  padding-right: 2px;
}

.policy__check::before {
  display: inline-flex;
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid black;
  border-radius: 2px;
  margin-right: 9px;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.policy__checkbox:checked + .policy__check::before {
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  border: 2px solid var(--secend-color);
  border-radius: 2px;
  background-color: var(--secend-color);
}

.card {
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.client .conteiner {
  display: flex;
  flex-direction: column;
}

.client__header {
  margin: 0 auto 50px auto;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.171em;
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.ad {
  display: flex;
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  padding: 18px 32px 14px 32px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ad:hover, .ad:focus {
  fill: var(--secend-color);
  border: 1px solid var(--secend-color);
  cursor: pointer;
}

.ad__icons {
  margin: 0 auto;
  width: 106px;
  height: 60px;
}

@media screen and (min-width: 768px) {
  .ad {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .client__list {
    flex-wrap: nowrap;
  }
  .client__header {
    font-size: 36px;
    line-height: 1.166em;
  }
}

.description .conteiner {
  display: flex;
  justify-content: center;
}

.things {
  display: flex;
  flex-direction: column;
}

.article {
  display: flex;
  flex-direction: column;
}

.article__icons {
  display: flex;
  background-color: #F5F4FA;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.article__head {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.142em;
  margin-bottom: 10px;
  margin-top: 30px;
}

.article__p {
  font-size: 14px;
  flex-wrap: wrap;
  line-height: 1.714em;
}

.article__icnos_item {
  width: 70px;
  height: 70px;
}

@media screen and (min-width: 768px) {
  .things {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .things__list {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .things {
    flex-direction: row;
  }
  .things__list {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.efect {
  display: flex;
  background-color: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/efect-bg.jpg);
  background-size: cover;
  height: 400px;
  align-items: center;
  justify-content: center;
}

.efect .conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteiner__btn {
  font-family: var(--secend-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875em;
  background-color: var(--secend-color);
  color: white;
  margin-top: 30px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
}

.conteiner__btn:hover, .conteiner__btn:focus, .conteiner__btn:active {
  color: var(--secend-color);
  cursor: pointer;
  color: white;
}

.conteiner__head {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615em;
  color: white;
  text-align: center;
  text-transform: uppercase;
  max-width: 365px;
}

@media screen and (min-width: 768px) {
  .efect {
    display: flex;
    background-color: #2F303A;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/efect-bg-tablet.jpg);
    background-size: cover;
    height: 400px;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .efect .conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
  }
  .conteiner__head {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363em;
    color: white;
    text-align: center;
    text-transform: uppercase;
    max-width: 696px;
  }
  .efect {
    display: flex;
    background-color: #2F303A;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/efeckt-bg-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    align-items: center;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px), screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px), screen and (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 767px) {
  .efect {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/efect-bg@2x.png");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
  .efect {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/efect-bg-tablet@2x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px) and (max-width: 1600px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px) and (max-width: 1600px), screen and (min-resolution: 192dpi) and (min-width: 1200px) and (max-width: 1600px), screen and (min-resolution: 2dppx) and (min-width: 1200px) and (max-width: 1600px) {
  .efect {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop/efect-bg-desktop@2x.jpg");
  }
}

.filtr .filtr__button {
  display: flex;
  align-content: center;
  justify-content: center;
}

.filtr {
  padding-bottom: 50px;
}

.filtr__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.filtr__list-item {
  margin-right: 8px;
  margin-bottom: 15px;
  background: #F5F4FA;
  border-radius: 4px;
}

.filtr__list-item:not(:last-child) {
  margin-right: 8px;
}

.filtr__list-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625em;
  padding: 6px 28px;
  border-radius: 4px;
  border: none;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filtr__list-btn:hover, .filtr__list-btn:focus, .filtr__list-btn:active {
  color: var(--secend-color);
  cursor: pointer;
  background-color: #2196F3;
  color: white;
  border-radius: 4px;
  border: none;
}

.down {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.space {
  margin-top: 9px;
}

.town {
  margin-top: 20px;
}

.socjal {
  display: flex;
  padding-right: 10px;
}

.socjal__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: white;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socjal__link:hover, .socjal__link:focus {
  background-color: var(--secend-color);
}

.socjal__icons {
  width: 20px;
  height: 20px;
}

.joint {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

.joint__address {
  display: flex;
  margin-top: 20px;
}

.header__contact {
  margin-top: 8px;
}

.sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign__text {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.172em;
  text-transform: uppercase;
}

.sign__mail {
  margin-top: 20px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  width: 94vw;
  max-width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-top: 20px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 16px;
}

.sign__mail:hover, .sign__mail:focus {
  border: 1px solid var(--secend-color);
}

.sign__btn {
  margin-top: 20px;
  margin-bottom: 60px;
  background-color: var(--secend-color);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875em;
  display: inline-flex;
  width: 200px;
  height: 50px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
}

.newsletter {
  margin-top: 60px;
}

.sign__icon {
  width: 24px;
  height: 24px;
  margin-left: 24px;
}

.logo__text-down {
  color: white;
}

.logo__text-down:hover, .logo__text-down:active {
  color: var(--secend-color);
}

.address__down {
  margin-top: 20px;
  color: white;
}

.mail__footer, .phone__footer {
  color: var(--first-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714em;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail__footer {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail__footer:hover, .mail__footer:focus, .mail__footer:active {
  fill: var(--secend-color);
  color: var(--secend-color);
}

.mail__footer__icons {
  margin-right: 10px;
  width: 12px;
  height: 16px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.phone__footer {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.phone__footer:hover, .phone__footer:focus, .phone__footer:active {
  fill: var(--secend-color);
  color: var(--secend-color);
}

.phone__footer__icons {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .down {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
  .newsletter {
    margin: 60px auto;
  }
}

@media screen and (min-width: 1200px) {
  .sign {
    display: block;
  }
  .sign__mail {
    width: 358px;
  }
  .down {
    justify-content: space-around;
  }
  .newsletter {
    margin: 0;
  }
  .address, .joint {
    align-items: flex-start;
  }
}

.tab {
  position: relative;
  overflow: hidden;
}

.tab__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.555em;
  padding: 49px 45px 49px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.box:hover .tab__text {
  transform: translateY(0);
}

.fotos .conteiner {
  display: flex;
}

.fotos {
  padding-bottom: 94px;
}

.fotos__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  margin-top: 30px;
}

.box:hover {
  border: 1px solid var(--secend-color);
  cursor: pointer;
}

.box__caption {
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #EEEEEE;
  border-top: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 2em;
}

.box__caption-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875em;
}

.info {
  background-color: #2F303A;
}

@media screen and (min-width: 768px) {
  .fotos__list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    justify-content: flex-start;
  }
  .box {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 2 -30px);
  }
}

@media screen and (min-width: 1200px) {
  .box {
    flex-basis: calc(100% / 3 -30px);
  }
}

.header .conteiner {
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
  border: 1px solid #ECECEC;
}

.logo__text {
  color: var(--secend-color);
}

.logo__text:hover, .logo__text:active {
  color: var(--secend-color);
}

.header__menu {
  width: 24px;
  height: 16px;
}

@media screen and (max-width: 767px) {
  .navi, .mail, .phone {
    display: none;
  }
  .header {
    height: 60px;
  }
}

@media screen and (min-width: 768px) {
  .web {
    display: flex;
  }
  .web__list {
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .web__list:not(:last-child) {
    margin-right: 46px;
  }
  .web__link {
    color: #212121;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .web__link:hover, .web__link:focus, .web__link:active {
    color: var(--secend-color);
  }
  .header {
    border: 1px solid #ECECEC;
  }
  .logo__text {
    color: var(--secend-color);
  }
  .logo__text:hover, .logo__text:active {
    color: var(--secend-color);
  }
  .web__list--active::before {
    content: "";
    width: 100%;
    height: 3px;
    display: block;
    background-color: var(--secend-color);
    position: absolute;
    bottom: -32px;
    border-radius: 2px;
  }
  .mail, .phone {
    color: var(--first-color);
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.142em;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mail {
    display: flex;
    margin-left: auto;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mail:hover, .mail:focus, .mail:active {
    fill: var(--secend-color);
    color: var(--secend-color);
  }
  .mail__icons {
    margin-right: 10px;
    width: 12px;
    height: 16px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .phone {
    display: flex;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .phone:hover, .phone:focus, .phone:active {
    fill: var(--secend-color);
    color: var(--secend-color);
  }
  .phone__icons {
    margin-right: 10px;
    width: 10px;
    height: 16px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__menu {
    display: none;
  }
  .header .conteiner {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .phone {
    position: absolute;
    top: 45px;
    right: 38px;
  }
  .mail {
    position: absolute;
    top: 21px;
    right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .web {
    display: flex;
  }
  .web__list {
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .web__list:not(:last-child) {
    margin-right: 46px;
  }
  .web__link {
    color: #212121;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .web__link:hover, .web__link:focus, .web__link:active {
    color: var(--secend-color);
  }
  .header {
    border: 1px solid #ECECEC;
  }
  .logo__text {
    color: var(--secend-color);
  }
  .logo__text:hover, .logo__text:active {
    color: var(--secend-color);
  }
  .web__list--active::before {
    content: "";
    width: 100%;
    height: 3px;
    display: block;
    background-color: var(--secend-color);
    position: absolute;
    bottom: -32px;
    border-radius: 2px;
  }
  .mail, .phone {
    color: var(--first-color);
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142em;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mail {
    display: flex;
    margin-left: auto;
    margin-right: 50px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mail:hover, .mail:focus, .mail:active {
    fill: var(--secend-color);
    color: var(--secend-color);
  }
  .mail__icons {
    margin-right: 10px;
    width: 12px;
    height: 16px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .phone {
    display: flex;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .phone:hover, .phone:focus, .phone:active {
    fill: var(--secend-color);
    color: var(--secend-color);
  }
  .phone__icons {
    margin-right: 10px;
    width: 10px;
    height: 16px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.logo {
  font-family: var(--secend-font);
  font-weight: 700;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo--header {
  font-size: 26px;
  margin-right: 93px;
  line-height: 1.192em;
}

.logo--footer {
  font-size: 24px;
  line-height: 1.175em;
}

.card {
  margin-top: 30px;
}

.form__caption {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.187em;
  text-align: center;
  margin-top: 30px;
}

.form__text {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.187em;
  text-align: center;
  margin-top: 10px;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px 30px 32px;
}

.socials__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials__link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: white;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: #AFB1B8;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover, .socials__link:focus {
  fill: white;
  background-color: var(--secend-color);
}

.socials__icons {
  width: 20px;
  height: 20px;
}

.teams .conteiner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.teams {
  background-color: #F5F4FA;
  align-content: center;
}

.teams__head {
  margin: 0 auto;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.171em;
  align-items: center;
}

.teams__list {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .teams__list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .teams__head {
    margin-bottom: 30px;
  }
  .card {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .teams__list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .teams__head {
    font-size: 36px;
    margin-bottom: 50px;
  }
  .card {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 4 - 30px);
  }
}

@media screen and (max-width: 1199px) {
  .working {
    display: none;
  }
}

.working {
  padding-top: 0;
}

.working__head {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.166em;
  margin-bottom: 50px;
}

.working__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.working__list-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.working .conteiner {
  display: flex;
  align-items: center;
}

.what {
  flex-direction: column;
}

.contens {
  position: relative;
  overflow: hidden;
}

.contens > .contens__item {
  position: absolute;
  bottom: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.172em;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  color: white;
  width: 100%;
  text-align: center;
}

body {
  font-family: var(--main-font);
  color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.conteiner {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .conteiner {
    max-width: 480px;
  }
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 768px;
  }
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
  }
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: white;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.web__menu {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-size: 500;
  line-height: 1.172em;
}

.web__menu_item {
  margin-top: 36px;
}

.web__menu_link {
  color: #212121;
}

.web__socjal {
  display: flex;
  flex-direction: row;
  margin-top: 64px;
  justify-content: space-between;
}

.web__socjal_link {
  color: #2196f3;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.222em;
}

.web__socjal_item {
  position: relative;
}

.web__socjal_item:not(:first-child)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: translateX(-20px);
}

.web__contact_phone {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.170em;
}

.web__contact_phone_item {
  color: var(--secend-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.222em;
}

.web__contact_mail {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.170em;
  color: #757575;
}

.web__contact_item {
  margin-top: 32px;
}

.web__contact_phone {
  color: #2196f3;
}
/*# sourceMappingURL=main.css.map */