.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 528px;
    height: 581px;
    background-color: #fff;
    
}
.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 50%;
    cursor: pointer;
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(100%);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}
.form {
    justify-items: center;

        &__head {
        margin-top: 40px;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        }
        &__label {
        font-size: 12px;
        color:rgba(117, 117, 117, 1);
        margin-top: 10px;
        }
        &__btn {
        background-color: var(--secend-color);
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        width: 200px;
        height: 50px;
        margin-top: 30px;
        margin-left: 164px;
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        }
        &__input {
        border: 1px solid rgba(33, 33, 33, 0.2);
        box-sizing: border-box;
        border-radius: 4px;
        width: 100%;
        height: 40px;
        padding-left: 45px;
        transition: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

            &:hover,
             &:focus {
            border: 1px solid var(--secend-color);
            box-sizing: border-box;
            border-radius: 4px;
            outline: none; 
            }
    }
        &__label-item {
        position: relative;
        display: block;
        fill: #212121;

            &:hover,
            &:focus{
            fill: var(--secend-color);
            }
    }
        &__input-image {
        position: absolute;
        top: 11px;
        left: 15px;
        width: 18px;
        height: 18px; 
        }
}

.form .form__label {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px; 
}


.coment {
    resize: none;
    padding: 12px 16px;
    font-size: 12px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    border: 1px solid var(--secend-color);
    box-sizing: border-box;
    border-radius: 4px;
    outline: none; 
    }
}
.policy {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 1.714em;
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    color: #757575;
    
        &__link {
        padding-left: 2px;
        padding-right: 2px;
        }
}



.policy__check::before {
    display: inline-flex;
    content: "";
    width: 16px;
    height: 16px;
    border: 2px solid black;
    border-radius: 2px;
    margin-right: 9px;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.policy__checkbox:checked +.policy__check::before {
    background-image: url(../images/icon-check.svg);
    background-size: contain;
    border: 2px solid var(--secend-color);
    border-radius: 2px;
    background-color: var(--secend-color);
}