   .efect {
    display: flex;
    background-color: #2F303A;
    background-image:linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),  
    url(../images/mobile/efect-bg.jpg);
    background-size: cover;
    height: 400px;
    align-items: center;
    justify-content: center;   
}
    .efect .conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;   
}
   .conteiner__btn {
        font-family: var(--secend-font);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.875em;
        background-color: var(--secend-color);
        color: white;
        margin-top: 30px;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        width: 200px;
        height: 50px;

        &:hover,
        &:focus,
        &:active {
        color: var(--secend-color);
        cursor: pointer;
        color: white;  
        }
    }
    .conteiner__head {
        font-weight: 900;
        font-size: 26px;
        line-height: 1.615em;
        color: white;
        text-align: center;
        text-transform: uppercase;
        max-width: 365px;
    }
   @media screen and (min-width: 768px) {
        .efect {
        display: flex;
        background-color: #2F303A;
        background-image:linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),  
        url(../images/tablet/efect-bg-tablet.jpg);
        background-size: cover;
        height: 400px;
        align-items: center;
        justify-content: center;
    }   
}
   @media screen and (min-width: 1200px) {
    
    .efect .conteiner {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-items: center;
    }
    .conteiner__head {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.363em;
        color: white;
        text-align: center;
        text-transform: uppercase;
        max-width: 696px;
    }
    .efect {
        display: flex;
        background-color: #2F303A;
        background-image:linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),  
        url(../images/desktop/efeckt-bg-desktop.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 600px;
        align-items: center;
    }
    
   }
@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px), 
screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px), 
screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px), 
screen and (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 767px) {
      .efect {
      background-image:
            linear-gradient(rgba(47, 48, 58, 0.4), 
            rgba(47, 48, 58, 0.4)),
            url("../images/mobile/efect-bg@2x.png");
      }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px),
screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px),
screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px),
screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
      .efect {
            background-image:
                  linear-gradient(rgba(47, 48, 58, 0.4), 
                  rgba(47, 48, 58, 0.4)),
                  url("../images/tablet/efect-bg-tablet@2x.jpg");
      }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px) and (max-width: 1600px),
screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px) and (max-width: 1600px),
screen and (min-resolution: 192dpi) and (min-width: 1200px) and (max-width: 1600px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) and (max-width: 1600px) {
      .efect {
            background-image:
                  linear-gradient(rgba(47, 48, 58, 0.4), 
                  rgba(47, 48, 58, 0.4)),
                  url("../images/desktop/efect-bg-desktop@2x.jpg");
      }
}