.down {
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.address{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
.space {
  margin-top: 9px;
}
.town {
  margin-top: 20px;
}
.socjal {
  display: flex;
  padding-right: 10px;
    &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: rgba(255, 255, 255, 1);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
      background-color: var(--secend-color);
      }
    }
    &__icons {
    width: 20px;
    height: 20px;
    }
}
.joint {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
    &__address {
    display: flex;
    margin-top: 20px;
    }
}
.header__contact{
  margin-top: 8px;
}
.sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sign__text {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.172em;
  text-transform: uppercase;
}
.sign__mail {
  margin-top: 20px;
  background-color: rgba(47, 48, 58, 1);
  color: rgba(255, 255, 255, 0.6);
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-top: 20px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 16px;

  &:hover,
  &:focus {
  border: 1px solid var(--secend-color);
  }
}

.sign__btn {
  margin-top: 20px;
  margin-bottom: 60px;
  background-color: var(--secend-color);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875em;
  display: inline-flex;
  width: 200px;
  height: 50px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
}
.newsletter {
  margin-top: 60px;
}
.sign__icon {
  width: 24px;
  height: 24px;
  margin-left: 24px;
}
.logo__text-down {
  color: white;

  &:hover,
  &:active {
  color: var(--secend-color);
  }
}
.address__down {
  margin-top: 20px;
  color: white;
}
.mail__footer, .phone__footer {
        color: var(--first-color);
        font-family: var(--main-font);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.714em; 
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);  
    }
  .mail__footer {
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus,
        &:active {
        fill: var(--secend-color);
        color: var(--secend-color);   
        }
        &__icons {
        margin-right: 10px;
        width: 12px;
        height: 16px;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
    .phone__footer {
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus,
        &:active {
        fill: var(--secend-color);
        color: var(--secend-color);  
        }
            &__icons {
            margin-right: 10px;
            width: 10px;
            height: 16px;
            transition-property: fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            }
    }
@media screen and (min-width: 768px) {
  .down {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
  
  .newsletter {
    margin: 60px auto;
  }
}
@media screen and (min-width: 1200px) {
  .sign {
    display: block;
      &__mail {
        width: 358px;
      }
  }
  .down {
    justify-content: space-around;
  }
  .newsletter {
    margin: 0;
  }
  .address, .joint {
    align-items: flex-start;
  }
}