.logo {
    font-family: var(--secend-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192em;
    color: #212121;
    margin-right: 93px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}