@media screen and (max-width:1199px){
    .working {
        display: none;
    }
}
    .working {
        padding-top: 0;
             &__head {
            font-size: 36px;
            font-weight: 700;
            line-height: 1.166em;
            margin-bottom: 50px;
            }
            &__list {
            display: flex;
            flex-wrap: wrap;
            margin-left: -30px;
            margin-top: -30px;
            }
            &__list-item {
            margin-left: 30px;
            margin-top: 30px;
            flex-basis: calc(100% / 3 - 30px);
            }
    }

    .working .conteiner {
        display: flex;
        align-items: center;
    }
    .what {
        flex-direction: column;
    }
    .contens {
        position: relative;
        overflow: hidden;
    }
    .contens > .contens__item {
        position: absolute;
        bottom: 0;
        margin: 0;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.172em;
        padding-top: 27px;
        padding-bottom: 27px;
        background-color: rgba(47, 48, 58, 0.8);
        color: white;
        width: 100%;
        text-align: center;
    }